# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.log

# Virtual environment
venv/
env/
.venv/

# Git
.git
.gitignore

# IDE / Editors
.vscode/
.idea/

# OS / System files
.DS_Store
Thumbs.db

# Docker files
Dockerfile
.dockerignore

# Local data / media / test recordings
data/videos/*
!data/.gitkeep

# Environment files (optional - if you
